.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: em(17, $fz);
        padding-bottom: em(15, $fz);
    }

    &__buttons {
        display: flex;
    }

    &__button {
      min-height: em(68, $fz);

        & + & {
          margin-left: em(12, $fz);
        }
        
        .button__container {
          padding: em(23 39, $fz);
        }
    }
}