$duration: 30s;

.intro__buttons {
    display: flex;
    flex-wrap: wrap;
}

.intro__button {
    margin-bottom: em(12, $fz);
    
    &:not(:last-child) {
        margin-right: em(12, $fz);
    }

    &:nth-last-child(2) {
        margin-left: em(180, $fz);
    }
}

.wheel {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px groove #ccc;

    &::before {
        content: '';
        position: absolute;
        width: em(12, $fz);
        height: em(12, $fz);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-basic;
    }
}

.wheel__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: rotate-main;
    animation-fill-mode: forwards;
    animation-duration: $duration;
}

@keyframes rotate-main {



    100% {
        transform: rotate(90deg);
    }


    100% {
        transform: rotate(90deg);
    }
}

.wheel__content {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    outline: 2px dashed yellow;
    padding-bottom: 150px;
    font-size: 2em;

    //animation-name: rotate-outher;
    //animation-duration: $duration;
    //animation-fill-mode: forwards;
}
//
//@keyframes rotate-outher {
//    100% {
//        transform: rotate(90deg);
//    }
//}