$duration: 30s;

.intro__buttons {
    display: flex;
    flex-wrap: wrap;
}

.intro__button {
    margin-bottom: em(12, $fz);
    
    &:not(:last-child) {
        margin-right: em(12, $fz);
    }

    &:nth-last-child(2) {
        margin-left: em(180, $fz);
    }
}

// .wheel {
//     margin: 0 auto;
//     position: relative;
//     width: 265px;
//     height: 265px;
//     border-radius: 50%;

//     &::before {
//         content: '';
//         position: absolute;
//         width: em(12, $fz);
//         height: em(12, $fz);
//         border-radius: 50%;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         background-color: $color-basic;
//     }
// }

// .wheel__inner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     animation: rotate-main $duration infinite linear;
// }

// @keyframes rotate-main {
//     0% {
//         transform: rotate(0);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

// .wheel__letter {
//     position: absolute;
//     bottom: 50%;
//     left: 50%;
//     width: 0;
//     transform-origin: 0 100%;
//     padding-bottom: 150px;
//     font-size: 2em;

//     animation-name: rotate-outher;
//     animation-duration: $duration;
//     animation-fill-mode: forwards;
// }

// @keyframes rotate-outher {
//    100% {
//        transform: rotate(90deg);
//    }
// }

.circular {
    position: relative;
    display: inline-block;
    animation: animate 30s linear infinite;

    &::before {
        content: '';
        position: absolute;
        width: em(12, $fz);
        height: em(12, $fz);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-basic;
    }
}
    
text {
    fill: #F0E8E3;
    font-weight: 400;
}

.circular path { 
    fill: none;
}

.circular {
width: em(264, $fz);
height: em(264, $fz);
padding: em(14, $fz);
}

.circular svg {
display: block;
overflow: visible;
}

@keyframes animate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
