include ../blocks/button
include ../blocks/logo

header.header   
    .container.header__container
        +logo
        .header__buttons
            +button('Вакансии').header__button
            +button('corporate@gmail.com').header__button


