section.intro
    .container.intro__container
        .section-images 
            img(src="./assets/images/intro/intro-1.png", alt="").top
            img(src="./assets/images/intro/intro-2.png", alt="").center 
            img(src="./assets/images/intro/ball.png", alt="").ball
            img(src="./assets/images/intro/dots.png", alt="").dots
        .intro__buttons
            +button('IOS разработчик').intro__button 
            +button('FullStack веб-программист').intro__button
            +button('Руководитель проектов в области ИТ').intro__button 
            +button('QA специалист').intro__button 
            +button('Android разработчик').intro__button 
            +button('FullStack веб-программист').intro__button 
            +button('Архитектор').intro__button 
            +button('Руководитель группы разработки').intro__button 
            +button('Cистемный аналитик').intro__button 
            +button('Frontend веб-программист').intro__button
        .wheel
            .wheel__inner
                .wheel__content M
                .wheel__content a
                .wheel__content k
                .wheel__content e
            .wheel__inner
                .wheel__content m
                .wheel__content y
            .wheel__inner
                .wheel__content S
                .wheel__content o
                .wheel__content f
                .wheel__content t
            .wheel__inner
                .wheel__content /


