section.intro
    .container.intro__container
        .section-images 
            img(src="./assets/images/intro/intro-1.png", alt="").top
            img(src="./assets/images/intro/intro-2.png", alt="").center 
            img(src="./assets/images/intro/ball.png", alt="").ball
            img(src="./assets/images/intro/dots.png", alt="").dots
        .intro__buttons
            +button('IOS разработчик').intro__button 
            +button('FullStack веб-программист').intro__button
            +button('Руководитель проектов в области ИТ').intro__button 
            +button('QA специалист').intro__button 
            +button('Android разработчик').intro__button 
            +button('FullStack веб-программист').intro__button 
            +button('Архитектор').intro__button 
            +button('Руководитель группы разработки').intro__button 
            +button('Cистемный аналитик').intro__button 
            +button('Frontend веб-программист').intro__button
        //- .wheel
        //-     .wheel__inner
        //-         .wheel__letter M
        //-         .wheel__letter a
        //-         .wheel__letter k
        //-         .wheel__letter e
        //-         .wheel__letter m
        //-         .wheel__letter y
        //-         .wheel__letter S
        //-         .wheel__letter o
        //-         .wheel__letter f
        //-         .wheel__letter t
        //-         .wheel__letter /
        .circular
            svg(viewBox='0 0 252 252')
                path#circle(d='M 0,126 a 126,126 0 1,1 0,1 z')
                text
                    textpath(xlink:href='#circle')
                        tspan(word-spacing="4") Soft / Make
                        tspan my
                        tspan(word-spacing="4") Soft / Make
                        tspan my
                        tspan(word-spacing="4") Soft / Make
                        tspan my
                        tspan(word-spacing="4") Soft / Make
                        tspan my
                        tspan(word-spacing="4") Soft / Make
                        tspan my
                        tspan(word-spacing="4") Soft / Make
                        tspan my

