$fz_base: 16;
$fz: $fz_base;
// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1400; // Максимальная ширина контейнера контента
$container-padding: 10; // Отступы слева и справа у контейнера
$breakpoints: (
        'xl': 1920px,
        'lg': 1280px,
        'md': 1024px,
        'sm': 768px,
        'xs': 480px,
);

// ##########
// Цвета
// ##########
$color-basic: hsl(23, 30%, 92%); 
$color-second: hsl(231, 88%, 58%);
$color-bg: hsl(0, 0%, 20%);

// ##########
// Transitions
// ##########
$ease-main: 0.2s ease;

// ##########
// Шрифты
// ##########
$font: 'Montserrat', sans-serif;
